// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin center_content {
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;
  /* Safari and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

li {
  position: relative;
}

.large {
  font-size: 2em;
  line-height: 2em;
}

span.disabled {
  background-color: #999;
}

li.description {
  @include center_content;
  padding: 0 0.5em !important;
  height: 6em;
}

span.left-box {
  @include center_content;
  width: 20%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

span.right-box {
  padding-left: 15%;
}

table.expand {
  width: 100%;
}