// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li, div{
  position: relative;
}

i.large {
  font-size: 2em;
  line-height: 1.5em;
}

.contact {
  &.dob_this_month {
    & li.title, span.dob {
      background-color: #9B59B6;
    }
  }
  & span {
    &.disabled {
      background-color: #BDC3C7;
    }
    &.enabled {
      background-color: #2ECC71;
    }
    &.dob {
      background-color: #3498DB;
    }
  }
}

li.description {
  padding-left: 96px !important;
  padding-right: 6px !important;
  height: 90px;
  & b {
  font-size: 10px;
  }
}

li.bullet-item {
  padding-left: 25% !important;
  height: 3em;
}

img.photo {
  height: 90px;
  width: 90px;
  position: absolute;
  left: 0;
  top: 0;
}

span.left-box {
  width: 20%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

span.right-box {
  //padding-left: 20%;
}

table.expand {
  width: 100%;
}

li.title a {
  color: #ECF0F1;
  &:hover {
    color: #2C3E50;
  }
}

.hiden {
  display: none;
}

.raw {
  position: relative;
}

input[type="file"] {
  width: 100%;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
}

.thin {
  margin-bottom: 0 !important;
}